/*For all pages*/
.header {
    padding: 5px;
    text-align: center;
    background-image: url('https://media.istockphoto.com/id/1142563796/vector/abstract-white-background.jpg?s=612x612&w=0&k=20&c=b10xKL3zEwp2IH6h_qg2Augzm1dfuZMz1ObHPDACY9o=');
    color: black;
    font-size: 30px;
}

body {
    background: #ffffff;
    color: #000000;
    margin-top: 5rem;
  }


/*For the Contact Page*/
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
input[type=submit] {
    background-color: #41dbf0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4697da;
}
  
.container {
    border-radius: 5px;
    padding: 20px;
}


/*For the Home Page*/
.slider {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 1500px;
    height: 500px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
      
.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

    #slide-1:target ~ .image-container {
        left: 0px;
    }
    #slide-2:target ~ .image-container {
        left: -500px;
    }
    #slide-3:target ~ .image-container {
        left: -1000px;
    }

.buttons {
    position: relative;
    top: -20px;
}

.buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: rgb(107, 187, 233);
}


/*Product Page*/
.slider {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 1500px;
    height: 500px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
  
.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}
  
#slide-11:target ~ .image-container {
    left: 0px;
}
  
#slide-12:target ~ .image-container {
    left: -500px;
}
 
#slide-13:target ~ .image-container {
    left: -1000px;
}  
  
#slide-21:target ~ .image-container {
    left: 0px;
}
  
#slide-22:target ~ .image-container {
    left: -500px;
}
  
#slide-23:target ~ .image-container {
    left: -1000px;
}
  
#slide-31:target ~ .image-container {
    left: 0px;
}
 
#slide-32:target ~ .image-container {
    left: -500px;
}
 
#slide-33:target ~ .image-container {
    left: -1000px;
}
