{% extends "application/base.html" %}
{%block content%}
{% load static %}

<div class="header">
  <header><h1>About Us</h1></header><br>
</div>


  <div class="row">
      <div class="col-sm-12">
        <p>At SWatchReview, we are dedicated to providing our users with the most comprehensive and unbiased information about smart watches. We believe that smart watches are more than just wearable technology - they are devices that can help us stay connected, healthy, and productive.</p>
        <p>Our mission is to create a platform where users can share their experiences with different smart watches, helping others make informed decisions when purchasing a new device. We strive to be a trusted source of information for all aspects of smart watches, including features, design, user experience, and customer support.</p>
        <p>As a team of passionate technology enthusiasts, watch lovers, and customer advocates, we believe that everyone deserves to have the best possible smart watch for their needs. That's why we are committed to providing unbiased reviews, helpful guides, and a vibrant community of users who are passionate about smart watches.</p>
        <p>At SWatchReview, we value every voice and welcome reviews from all users, regardless of their level of expertise or knowledge about smart watches. We believe that together, we can create a comprehensive resource for anyone looking to buy a smart watch.
        <p>Thank you for choosing SWatchReview as your go-to source for smart watch reviews. We are excited to help you find the perfect smart watch for your lifestyle!</p>
     </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-6">
        <br><br>
        <p>Our company is based in the United Kingdom, where we have access to some of the most exciting and innovative technology products on the market. As a UK-based company, we're proud to serve customers not just in the UK, but around the world, helping them stay up-to-date with the latest trends and products in the tech industry. Being located in the UK also gives us the advantage of having a diverse and multicultural team of experts, who bring a range of perspectives and insights to our reviews. We're proud to be based in the UK, and we're committed to providing our readers with the best technology reviews and insights from this exciting and dynamic part of the world.
        </p> <br>
        <p>Find us at:<br>
          123 High Street<br>
          London SW1A 1AA<br>
          United Kingdom<br>
          <a href="https://www.google.com/maps/place/123+High+Street,+London+SW1A+1AA,+United+Kingdom/">Google Maps</a></p>
      </div>
      <div class="col-sm-6">
         <img src="https://cdn.shopify.com/s/files/1/0139/9114/9632/products/england-uk-map-A2-ptr-pastel-red-white-ps1-t0_1200x1200.jpg?v=1609239020" alt="UK Map" width="100%">
      </div>
  </div>

{% endblock %}