{% extends "application/base.html" %}
{%block content%}
{%load static%}

    <div class="header">
        <header><h1>Contact Us</h1></header><br>
    </div>
 
    <br><br>
 
    <div class="row">
        <div class="col-sm-3">
          <img src = "https://st2.depositphotos.com/1001378/9102/v/950/depositphotos_91024908-stock-illustration-abstract-vertical-light-blue-background.jpg" width="100%">
        </div>
        <div class="col-sm-6">
          <center>
            <div class="container">
              {% if submitted%}
              Contact message sent

              {%else%}
              <form action="" method="POST">
                {% csrf_token %}

                {{ form.as_p }}
                <input type ="submit" value="submit" class="btn btn-primary">

              {%endif%}

              </form>
           </div>
          </center>
        </div>
        <div class="col-sm-3">
          <img src = "https://st2.depositphotos.com/1001378/9102/v/950/depositphotos_91024908-stock-illustration-abstract-vertical-light-blue-background.jpg" width="100%">
        </div>
    </div>
 


</div>
{% endblock %}