{% extends "application/base.html" %}
{%block content%}

    <div class="header">
        <header><h1>Contact Us</h1></header><br>
    </div>
 
    <br><br>
 
    <div class="row">
        <div class="col-sm-3">
          <img src = "https://st2.depositphotos.com/1001378/9102/v/950/depositphotos_91024908-stock-illustration-abstract-vertical-light-blue-background.jpg" width="100%">
        </div>
        <div class="col-sm-6">
            <div class="container">
                <form action="action_page.php">

                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" placeholder="Full Name">

                <label for="email">Email Address</label>
                <input type="text" id="email" name="email" placeholder="Email Address">

                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Subject">

                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Please enter your message" style="height:200px"></textarea>

                <input type="submit" value="Submit">

                </form>
           </div>
        </div>
        <div class="col-sm-3">
          <img src = "https://st2.depositphotos.com/1001378/9102/v/950/depositphotos_91024908-stock-illustration-abstract-vertical-light-blue-background.jpg" width="100%">
        </div>
    </div>
 


</div>
{% endblock %}