{% extends "application/base.html" %}
{%block content%}

<br><br>
<div class="header">
  <h1>Touch Electronics</h1>
  <p>Your go-to source for honest technology reviews.</p>
</div>
<div class="container" style="margin-top:30px">
    <div class="row">

      <div class="col-sm-12">
        <h3>Featured Product of the week - </h3> <a href="{% url 'application-product' %}">Apple Watch - Midnight Aluminium Case with Sport Band</a>
        <div class="slider">
          <span id="slide-1"></span>
          <span id="slide-2"></span>
          <span id="slide-3"></span>
          <div class="image-container">
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MR2Q3ref_VW_34FR+watch-40-alum-midnight-nc-se_VW_34FR_WF_CO_GEO_GB?wid=1400&hei=1400&trim=1%2C0&fmt=p-jpg&qlt=95&.v=1676836906701%2C1661473982766" class="slide" height="500"/>
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MR2Q3ref_VW_PF+watch-40-alum-midnight-nc-se_VW_PF_WF_CO_GEO_GB?wid=1400&hei=1400&trim=1%2C0&fmt=p-jpg&qlt=95&.v=1676836905839%2C1661469338827" class="slide" height="500" />
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MR2Q3ref?wid=1400&hei=1400&trim=1%2C0&fmt=p-jpg&qlt=95&.v=1676671105460" class="slide" width="500" />
          </div>
          <div class="buttons">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
          </div>
        </div>
      
        <div class="col-sm-12">
        <h2>About Us</h2>
        <p>Welcome to our website, where we provide honest and insightful reviews of the latest technology products. We understand that in today's fast-paced world, staying up-to-date with the latest gadgets and gizmos can be challenging. That's why our team of expert reviewers is dedicated to testing and analyzing the newest products on the market, so you don't have to.</p>
        <P>On our website, we believe that technology should make our lives easier, not more complicated. That's why we focus on providing reviews that are informative, easy to understand, and unbiased. We take pride in providing in-depth analyses of the features, functionality, and performance of the products we review, and we always strive to provide our readers with the most accurate and up-to-date information possible.</P>
        <a href="{% url 'application-about' %}">Find out more about us here</a>
        <br>
      </div>
        <br>
        <img src="https://img.freepik.com/premium-vector/abstract-backdrop-with-blue-wave-gradient-lines-white-background-modern-technology-background-wave-design-vector-illustration_515038-1119.jpg" alt="Tech" width="49%">
        <img src="https://img.freepik.com/premium-vector/abstract-backdrop-with-blue-wave-gradient-lines-white-background-modern-technology-background-wave-design-vector-illustration_515038-9679.jpg?w=2000" alt="Tech" width="49%" >
    </div>
  </div>
  </div>
</div>
{% endblock %}