{% extends "application/base.html" %}
{%block content%}
{% load static %}

<div class="header">
    <header><h1>Products</h1></header><br>
</div>

<br><br> 
<div class="row">
    <div class="col-sm-8">
        {%for product in product_list%}
        <strong>{{  product }}</strong> 
        <p>{{ product.brand }}<br>£{{ product.price }}<br>Category: {{ product.category }}<br>Date released: {{ product.date_released }}<br>{{ product.description }}</p>
        {% endfor %}
        </div>

    <div class="col-sm-4">
        {%for product in product_list%}
        <p><img class="product-img" style="vertical-align: middle;width: 200px;height: 200px;"src="{{product.image.url}}"></p>
        {% endfor %}
    </div>
</div>
{% endblock %}