{% extends "application/base.html" %}
{%block content%}
{% load static %}


<div class="header">
    <header><h1> Review </h1></header><br>
</div>


<div class="row">
    <div class="col-sm-12">
        <br>
        <strong> {{ review }}</strong> <br>{{review.product}}
        {{review.rating}}<br> {{review.text}}<br>{{review.date_reviewed}}<br>
        <a href="{% url 'update-review' review.id%}">update</a> <a href="{% url 'delete-review' review.id%}">delete</a>
         </div>
         

</div>



{% endblock content%}